Body {
  margin-top: 100px;
  margin-top: 500px;
    margin: 0;
    padding: 0;
    /* background-color: #f3f7fb; */
    background-color: #1f2322;
    height: 100vh;
  }
  
  .Container {
    display: Flex;
    flex-flow: Column;
    height: 100%;
    align-items: Space-Around;
    justify-content: Center;
    margin-top: -100px;
  }
  
  .UserInput {
    display: Flex;
    justify-content: Center;
  }
  
  Input {
    margin: 10px;
    height: 35px;
    width: 65px;
    border: None;
    border-radius: 5px;
    text-align: Center;
    font-family: Arimo;
    font-size: 20px;
    caret-color: transparent;
    /* background: #0b1d1f; */
    background: #0cc443;
    /* color: #f3f7fb; */
  }
  
  H1 {
    text-align: Center;
    font-family: Arimo;
    /* color: #237981; */
      /* color: #0e1a1b; */
      color: #019aa8;
      margin-top: 20px;
  }
  #btn {
      display: flex;
      justify-content: center;
      gap: 50px;
      margin-top: 30px;
  }
  Button {
    width: 150px;
    height: 40px;
    
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(25, 194, 25);
    color: white;
    font-size: 16px;
    padding: 10px 0;
  }
  button:hover {
    /* background-color: rgb(3, 90, 3); */
    background: #596461;
  }
  #verify {
      color: rgb(25, 194, 25);
      text-align: center;
      font-size: 50px;
      margin-bottom: 50px;
  }
  #para {
      display: flex;
      justify-content: center;
  }
  p {
      margin-top: -10px;
      margin-bottom: -100px;
      font-size: 20px;
      width: 30%;
      text-align: center;
      color: rgb(238, 227, 227);
  }
  